<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PostBoxServiceEndpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="PostBoxServiceEndpoint1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pb.diyalogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint"
                contract="ServiceLogo.IPostBoxService" name="PostBoxServiceEndpoint" />
            <endpoint address="http://pb.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint1"
                contract="ServiceLogo.IPostBoxService" name="PostBoxServiceEndpoint1" />
        </client>
    </system.serviceModel>
</configuration>