<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegration">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ITransferDocumentService">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://transfertest.veriban.com.tr/TransferDocumentService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_ITransferDocumentService"
                contract="ServiceVeriban.ITransferDocumentService" name="CustomBinding_ITransferDocumentService" />
            <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/Integration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration"
                contract="ServiceUyumsoft.IIntegration" name="BasicHttpBinding_IIntegration" />
        </client>
    </system.serviceModel>
</configuration>