<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_ITransferDocumentService">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://transfertest.veriban.com.tr/TransferDocumentService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_ITransferDocumentService"
                contract="ServiceVeriban.ITransferDocumentService" name="CustomBinding_ITransferDocumentService" />
        </client>
    </system.serviceModel>
</configuration>