<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegration">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IVoucherIntegration">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IProducerReceiptIntegration">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/Integration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration"
                contract="ServiceUyumsoft.IIntegration" name="BasicHttpBinding_IIntegration" />
            <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/VoucherIntegration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVoucherIntegration"
                contract="ServiceUyumsoftVoucher.IVoucherIntegration" name="BasicHttpBinding_IVoucherIntegration" />
            <endpoint address="https://efatura.uyumsoft.com.tr/Services/ProducerReceiptIntegration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProducerReceiptIntegration"
                contract="ServiceUyumsoftProducerReceiptIntegration.IProducerReceiptIntegration"
                name="BasicHttpBinding_IProducerReceiptIntegration" />
        </client>
    </system.serviceModel>
</configuration>